@charset "utf-8";  /*"US-ASCII";*/


.go-stop {
  background: linear-gradient(45deg, hsl(120, 100%, 75%), hsl(0, 100%, 75%) );
  color: Black;                     /* #FFFFF0 */
  font-family: Helvetica, Arial, sans-serif;
  font-style: italic;
  padding: 2px;
  text-align: left;
  border: 2px solid black; /*rgb(085,125,125);  */
  border-radius: 5px;
}

.stop-go {
  background: linear-gradient(45deg, hsl(0, 100%, 75%), hsl(120, 100%, 75%) );
  color: Black;                     /* #FFFFF0 */
  font-family: Helvetica, Arial, sans-serif;
  font-style: italic;
  padding: 2px;
  text-align: left;
  border: 2px solid black; /*rgb(085,125,125);  */
  border-radius: 5px;
}

blockquote.wiki {
  background-image: linear-gradient(Azure, Beige, Bisque);	Azure, Beige, Bisque 
  /* background-color: white !important; */
  border: 2px dotted black;
  border-radius:10px;
  font-family:'Arial' 
}
