@charset "utf-8";

BODY { 
  margin: 1em;
  font-family:"Times New Roman",serif;
  line-height: 1.1;
  background-image: url(ice-light.jpg);
  background-color: #82CAFA; 
  color: black; 
}

H1, H2, H3, H4, H5, H6, P, UL, OL, DIR, MENU, DIV, 
DT, DD, ADDRESS, BLOCKQUOTE, PRE, BR, HR, FORM, DL { 
  display: block; }

p { text-indent: 40px; }

B, STRONG, I, EM, CITE, VAR, TT, CODE, KBD, SAMP, 
IMG, SPAN { display: inline; }

LI { display: list-item; }

H1, H2, H3, H4 { margin-top: 1em; margin-bottom: 1em; }
H5, H6 { margin-top: 1em; }
H1, H3 { text-align: center; }
H1, H2, H4, H6 { font-weight: bold; }
 H5 { font-style: italic; }

H1 { font-size: 18pt; }
H2 { font-size: 16pt; }
H3 { font-size: 14pt; }
H4 { font-size: 12pt; }

B, STRONG { font-weight: bolder; }  /* relative to the parent */
I, CITE, EM, VAR, ADDRESS, BLOCKQUOTE { font-style: italic; }
PRE, TT, CODE, KBD, SAMP { font-family: courier,monospace  ; }
PRE { white-space: pre; }
PRE, code {font:125% monospace} 

ADDRESS { margin-left: 3em; }
BLOCKQUOTE { margin-left: 3em; margin-right: 3em; }

UL, DIR { list-style: disc; }
/* OL { list-style: decimal; } 8/
MENU { margin: 0; }              /* tight formatting */
LI { margin-left: 3em; }

DT { margin-bottom: 0; }
DD { margin-top: 0; margin-left: 3em; }

HR { border-top: solid; color: #AAA;
background-color: #000;
height: 5px; }        /* 'border-bottom' could also have been used */

A:link { color: blue; }          /* unvisited link */
A:visited { color: red; }        /* visited links */
A:active { color: lime; }        /* active links */
A:hover { color: green; }      /* mouse-over link */ 

/* setting the anchor border around IMG elements
   requires contextual selectors */

A:link IMG { border: 2px solid blue; }
A:visited IMG { border: 2px solid red; }
A:active IMG { border: 2px solid lime; }

div.hr {
  height: 1em;
  background-image: url(Trcircle.jpg);
  background-color: #D3D3D3;
}
div.hr hr {
  display: none;
}
td.D { border-style:ridge; background-color:  #D3D3D3; border-color: red; border-width:4px;}
 /* LightGrey      #D3D3D3  DimGray       #696969             */
 /* Pink           #FFC0CB  SkyBlue       #87CEEB             */
 /* http://www.w3schools.com/html/html_colornames.asp  colors */
 
td.boy { border-style:ridge; background-color: #A0CFEC; border-color: #342D7E; 
border-width:4px;
} 
td.girl { border-style:ridge; background-color: #FAAFBA; border-color: #7F5A58;
border-width:4px;
} 
/* Pink2          #FF00FF  light Sky Blue  #82CAFA              */
/* PowderBlue     #B0E0E6  Thistle         #D8BFD8              */
/* PaleGree       #98FB98  Tan             #D2B48C              */
/* Olive          #808000  PaleGoldenRod   #EEE8AA              */
/* PaleTurquoise  #AFEEEE  Royal Blue1     #306EFF              */
/* Light Pink     #FAAFBA  Light Sky Blue  #A0CFEC              */
/* Rosy Brown 4   #7F5A58  Slate Blue4     #342D7E              */
td.H2 { border-style: hidden; background-color: #D3D3D3; } 
td.B1 { border-style: hidden; background-color: #B0E0E6; } 
td.C1 { border-style: hidden; background-color: #D8BFD8; } 
td.D1 { border-style: hidden; background-color: #98FB98; } 
td.E1 { border-style: hidden; background-color: #808000; } 
td.H1 { border-style: hidden; background-color: #D2B48C; } 
td.Bosque-cl { background-color: #F0F5BF; } 

td.walt-cmnt { background-color: #D4F2FA; font-family: arial,"sans-serif"; } 

td.walt-cmntx2 { background-color: #E2F4DC; font-family: arial,"sans-serif"; }

td.Header-cl { background-color: #D3D3D3; } 
th.Header-cl { background-color: #D3D3D3; } 

td.wr1 { background-color: #D8F0F8; font-family: arial,"sans-serif";}
td.wr2 { background-color: #D9F1F9; font-family: arial,"sans-serif";}

H3.western { font-family: "Albany", sans-serif; font-size: 14pt; font-style: italic; }
H4.western { font-family: "Albany", sans-serif; font-size: 12pt; font-style: italic; }
img.floatLeft { 
    float: left; 
    margin: 4px; 
}
img.floatRight { 
    float: right; 
    margin: 4px; 
}
