@charset "utf-8";  /*"US-ASCII";*/


.plwrap {
  display: grid;
  grid-template-columns: 1fr;
  @media all and (min-width: 1000px){
    grid-template-columns: 18fr 7fr;
  }
    /* 3fr 1fr;   2024-10-22*/
  grid-auto-rows: minmax(100px, auto);
  /*  added 2024-07-27   */
	gap: 1px;
	background-color: rgb(243, 243, 243); /*rgb(224,215,255);  2024-08-04 */
  /*  added 2024-07-27   */
    padding: 10px;
}
.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
}
/*   ****************************************************    */

* {
  box-sizing: border-box;
}
.box {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: whitesmoke;  /*#ffd8a8;  */
  padding: 1em;
  color: rgb(048,048,048);  /*#d9480f;*/
}
figure {
  background-color: #fFdFdF;
  border: 2px #00aaaa solid;
  padding: 4px;
  margin: 4px;
}
.caption {
  background-color: whitesmoke; /*#cF9F9F; */  /* #2F4F4F DarkSlateGray*/
  color: Ivory;                     /* #FFFFF0 */
  font-family: Helvetica, Arial, sans-serif;
  font-style: italic;
  padding: 2px;
  text-align: center;
  border: 2px rgb(085,125,125);  
  border-radius: 5px;
}
.grid-context {
  border: 3px solid rgb(080,066,066);
  /* padding: 8px; */
  border-radius: 10px;
    background-color: hsl(0, 100%, 93%);
  /*background-color: rgb(240,210,210); ackground-color: #ffd8a8;  */
  padding: 1em;
  color: rgb(0,5,5);
    }
/* added to alternate color     */
.grid-item {
	      /*  border: 3px solid #000;  */
		border-width: 3px;
		border-color: solid #000;
	  border-top-style: solid;
      border-right-style: none;
      border-bottom-style: solid;
      border-left-style: solid;			
        padding: 10px;
        border-radius: 5px;
  /*background-color: #ffd8a8;  */
  padding: 1em;
  color: rgb(048,048,048);
    }
    .grid-item:nth-child(10n+1) {   /* pastel red */
        background-color: rgba(254, 226, 240, 1.0); /* Bg Color p red */
		color: #0D3B21; /*  https://coolors.co/contrast-checker rgb(20, 90, 50);     /*(005,024,225);  (001,097,020) to (20, 90, 50) */
    }
    .grid-item:nth-child(10n+3) {   /* 6n+6 -> 6n+8 */
        background-color: rgba(241, 244, 187, 0.8); /* rgb(250,255,199); /* Bg Color p yellow */
		color: #0E0BA8;  /*rgb(014,011,168); 2024-10-13 */     /*rgb(90,100,100); */
    }
	.grid-item:nth-child(10n+5) {   /* 6n+4  ->  6n+5 */
        background-color: rgba(187, 244, 193, 0.8);  /*rgb(204,255,204);/*#c1e7e3;  Bg Color p green */
		color: #2700A8;
    }
    .grid-item:nth-child(10n+7) {
        background-color: rgba(187, 242, 244, 0.8);  /*rgb(204,204,255); /*  Bg Color p blue */
		color: rgb(085,025,025);
    }
    .grid-item:nth-child(10n+9) {
        background-color: rgba(207, 187, 244, 0.8);  /*rgb(204,204,255); /*  Bg Color p indigo */
		color: #2E1200;   /*rgb(085,025,025); 2024-10-12 From (39, 75, 3) to ( 160, 64, 0 ) */
    }
	
/* added to alternate color     */
/* added to orient text vertical     */
.vert {
writing-mode: vertical-rl;
text-orientation: sideways;   /* mixed | upright | | |   | */
}
/* added to orient text vertical     */
.right {
	text-align: right;
}

p {
  margin: 0;
  text-indent: 3ch;
}

/* Style the header */
header {
  	background-color: rgb(240,210,210); /* Bg Color p yellow */   /*rgb(224,215,255);   */
  padding: 15px;
  text-align: center;
  font-size: 35px;
  color: rgb(30,30,0);          /* #FFDAB9 */
}

/* Style the footer */
footer {
  background-color: rgb(250,200,199); /* Bg Color p yellow */   /* rgb(224,215,255);   */
  padding: 10px;
  text-align: center;
  color:rgb(30,30,0);          /* #FFDAB9 */
}
/* Table added 2024-09-06  */ 
table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 10 px;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}
.rounded {
	border: 3px solid rgb(190,190,190);
	border-style: double;
	border-radius: 20px;
}
tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}