
.wkwrap2 {
	border: 3px solid #000;
    padding: 0px;
    border-radius: 5px;
	gap: 3px;
    background-image: linear-gradient(180deg, hsl(30, 50%,  85%),
	hsl(180, 50%,  95%)); 
}

.grid-domino-Brickhouse-x {
  margin: 0.5em 7em 0.5em 7em;
  border: 40px solid transparent; 
  border-image-width: 30px 30px 10px 10px;
  padding: 0.125em 0.125em 0em 0.125em;   /*  top,   right,  bottom,   left */
  border-image: url(brick-house.png) 30 stretch;
  border-image-slice: 18%;
  border-image-outset: 18px 12px 1px 12px;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
    }
.grid-domino-Brickhouse {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-image-source: url(brick-house.png);	
/*  border-image-source: url('gradient-glassmorphism-background_23-2149447863.jpg');  */
    border-image-slice:  19%;
    border-image-repeat: stretch;    
    border-width: 44px 20px 5px 20px; /*2.5rem; */
    /*width: 15rem; */
    border-color: grey;
    border-style: dashed;
    /* transition: all 0.3s ease; */
}	
	
	
	
.grid-domino-Brickhouse2a {
  margin: 0.5em 7em 1em 7em;
  border: 35px solid transparent;          /* Required for border-image */
  /* border-image-width: 30px 30px 40px 10px;   top,   right,  bottom,   left */
  padding: 1em 1em 0em 1em;                /*  top,   right,  bottom,   left */
  /*border-image: url(brick-house.png) 30 stretch;   round | stretch  */
     border-image-source: url(brick-house.png);
     border-image-repeat: stretch;
     border-image-slice: 19%;
      border-image-width: 44px 20px 5px 20px;
     border-image-outset: 30px 20px 1px 20px; /*15px;  */
  background-color: transparent;
  font-size: 1em;
  cursor: pointer;
    }

/* below is stable, but could beiproved */
.grid-domino-house {
	    margin: 0.5em 7em 0.5em 7em;
		padding: 0.5em 1em 0.5em 1em;
      border-top-style: ridge;
      border-right-style: solid;
      border-bottom-style: solid;
      border-left-style: solid;
	  border-color: green black black transparent; /* top, right, bottom  left */
	  border-width: 40px 0.5px 3px 20px; /* top, right, bottom and left */
		font-size: 14px;
		cursor: pointer;
        color: rgb(048,048,048);
        background-image: linear-gradient(180deg, hsl(0, 40%,  60%), hsl(5, 40%,  95%)); 
    }

.grid-domino-mort {
        border: 1px solid #000;
		font-size: 14px;
		cursor: pointer;
        color: rgb(048,048,048);
        background-image: linear-gradient(180deg, hsl(18, 10%,  60%), hsl(110, 10%,  95%)); 
    }

.grid-domino {
       /* border: 1px solid #000; */
		font-size: 14px;
		cursor: pointer;
  color: rgb(048,048,048);
    }
	 
	
	.grid-domino:nth-child(5n+1) {     /* pastel red */
        background-image: linear-gradient(180deg, hsl(18, 100%,  88%), hsl(110, 100%,  88%)); 
    }

	.grid-domino:nth-child(5n+2) {  
        background-image: linear-gradient(180deg, hsl(90, 100%,  88%), hsl(182, 100%,  88%));
    }

	.grid-domino:nth-child(5n+3) { 
        background-image: linear-gradient(180deg, hsl(162, 100%,  88%), hsl(254, 100%,  88%)); 		
    }

	.grid-domino:nth-child(5n+4) { 
        background-image: linear-gradient(180deg, hsl(234, 100%,  88%), hsl(326, 100%,  88%));
    }

	.grid-domino:nth-child(5n+5) {    
        background-image: linear-gradient(180deg, hsl(306, 100%,  88%), hsl(018, 100%,  88%));
	}
.Ptrt {border: solid #000;
    border-width: 5px 0px 1px 1px;
    padding: 0.125em 2em 0.125em 0.125em;   /*  top,   right,  bottom,   left */
	margin: 0 0em 0.5em 3em;      /*  top,   right,  bottom,   left */
    border-radius: 1em 35% 35% 1em; /* top lt, top rt; bottom r, bottom l  */

}
.Ptlt {border: solid #000;
    border-width: 5px 1px 1px 0px;
    padding: 0.125em 0.125em 0.125em 2em;   /*  top,   right,  bottom,   left */
	margin: 0 3em 0.5em 0em;        /*  top,   right,  bottom,   left */
    border-radius: 35% 1em 1em 35%; /* top lt, top rt; bottom r, bottom l  */

}

	
.Ptlt2 {
  margin: 0.5em 4em 1em 0em;/*  */
  border: 35px solid transparent;          /* Required for border-image */
  /* border-image-width: 30px 30px 40px 10px;   top,   right,  bottom,   left */
  padding: 0em 0em 0em 2em;     /*             top,   right,  bottom,   left */
  /*border-image: url(brick-house.png) 30 stretch;   round | stretch  */
     border-image-source: url(lBrktBorder.png);
     border-image-repeat: stretch;
     /* border-image-slice: 31%;  */
	 border-image-slice: 50% 50% 50% 45%; /* top,   right,  bottom,   left */
      border-image-width: 5px 5px 5px 50px;
    border-image-outset: 0 0 0 0;
  font-size: 14px;
  /* cursor: pointer;   */
    }


/*
.CurlBrketlt {border: solid #000;
    border-width: 5px 1px 1px 0px;
    padding: 0.125em 0.125em 0.125em 2em;   /*  top,   right,  bottom,   left *~/
	margin: 0 3em 0.5em 0em;        /*  top,   right,  bottom,   left *~/
    border-radius: 35% 1em 1em 35%; /* top lt, top rt; bottom r, bottom l  *~/

}

.Ptlt {border: solid #000;
    border-width: 5px 1px 1px 0px;
    padding: 0.125em 0.125em 0.125em 2em;   /*  top,   right,  bottom,   left *-/
	margin: 0 3em 0.5em 0em;        /*  top,   right,  bottom,   left *-/
    border-radius: 0 0.2em 1em 5em; /* top lt, top rt; bottom r, bottom l 

} */


.mort {border: 1px solid #000;
    border-top-width: thick;
    padding: 0.125em 0.125em 0.125em 0.125em;   /*  top,   right,  bottom,   left */
	margin: 0 3em 0.5em 0em;        /*  top,   right,  bottom,   left */
    border-radius: 1em 1em 1em 1em; /* top lt, top rt; bottom r, bottom l  */

}






