@charset "utf-8";  /*"US-ASCII";*//* added to alternate color     */
/* Walt-Kin-Index.css  */
/* <div class="wkwrap-8-3">  */
/* <div class="grid-item">  */
.caption {
  background-color: whitesmoke; /*#cF9F9F; */  /* #2F4F4F DarkSlateGray*/
  color: Black;                     /* #FFFFF0 */
  font-family: Helvetica, Arial, sans-serif;
  font-style: italic;
  padding: 2px;
  text-align: center;
  border: 2px solid black; /*rgb(085,125,125);  */
  border-radius: 5px;
}
.wkwrap {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
   grid-template-columns: 1fr;

  @media all and (min-width: 500px){
    grid-template-columns: 1fr 1fr;

  }
  @media all and (min-width: 1000px){
   grid-template-columns: 1fr 1fr 1fr 1fr; /* 3fr 1fr;   2024-10-22*/
  }
  
	gap: 5px;
	background-color: rgb(243, 243, 243); /*r */
    padding: 10px;
}

.wkwrap-8-3 {
	display: grid;
    grid-template-columns: 8fr 3fr;  
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 1fr;
 /*   gap: 20px 10px;
	background-color: rgb(230, 230, 255);
    padding: 10px;  */
  @media all and (min-width: 400px){
    grid-template-columns: 1fr;
  }
  @media all and (min-width: 1200px){
    grid-template-columns: 1fr 1fr;  
  }
	gap: 1px;
	background-color: rgb(243, 243, 243);
    padding: 10px;
} 
.wkwrap-8-3:not(.index){
   @media all and (min-width: 1000px){
    grid-template-columns: 1fr 1fr;  
  }
}

.grid-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid black;  /*rgb(080,066,066+);  */
  border-bottom-width: 0px;
  padding: 3px;
  border-radius: 7px 7px 0px 0px;   /* top-left  top-right  bottom-right  bottom-left */
/*        border-radius: 5px;
  /*background-color: #ffd8a8;  */
  padding: 1em;
  color: rgb(048,048,048);
    }
    .grid-pic:nth-child(5n+1) {   /* pastel red */
        background-color: rgba(254, 226, 240, 1.0); /* Bg Color p red */
		color: #0D3B21; /*  https://coolors.co/contrast-checker rgb(20, 90, 50);     /*(005,024,225);  (001,097,020) to (20, 90, 50) */
    }
    .grid-pic:nth-child(5n+2) {   /* 6n+6 -> 6n+8 */
        background-color: rgba(241, 244, 187, 0.8); /* rgb(250,255,199); /* Bg Color p yellow */
		color: #0E0BA8;  /*rgb(014,011,168); 2024-10-13 */     /*rgb(90,100,100); */
    }
	.grid-pic:nth-child(5n+3) {   /* 6n+4  ->  6n+5 */
        background-color: rgba(187, 244, 193, 0.8);  /*rgb(204,255,204);/*#c1e7e3;  Bg Color p green */
		color: #2700A8;
    }
    .grid-pic:nth-child(5n+4) {
        background-color: rgba(187, 242, 244, 0.8);  /*rgb(204,204,255); /*  Bg Color p blue */
		color: rgb(085,025,025);
    }
    .grid-pic:nth-child(5n+5) {
        background-color: rgba(207, 187, 244, 0.8);  /*rgb(204,204,255); /*  Bg Color p indigo */
		color: #2E1200;   /*rgb(085,025,025); 2024-10-12 From (39, 75, 3) to ( 160, 64, 0 ) */
    }
	
	.grid-item {
        border: 1px solid #000;  
        padding-top: 2px;
        padding-right: 2px;
        padding-bottom: 2px;
        padding-left: 2px;
        border-radius: 5px;
  /*background-color: #ffd8a8;  */
  /*padding: 1em; */
  color: rgb(048,048,048);
    }
	.grid-domino {
/**/	  display: flex;	
          align-items: left;
     /*     justify-content: center;	   */	
        border: 1px solid #000;
       
        border-radius: 10px;
		font-size: 1em;
		cursor: pointer;
		margin-top: 0.7em;
        margin-right: 2em;
        margin-bottom: 0.7em;
        margin-left: 2em;

  /*background-color: #ffd8a8;  */
  /*padding: 1em; */
  color: rgb(048,048,048);
    }
	 
	
	.grid-domino:nth-child(5n+1) {     /* pastel red */
        background-image: linear-gradient(20deg, hsl(18, 100%,  88%), hsl(110, 100%,  88%)); 
    }

	.grid-domino:nth-child(5n+2) {  
        background-image: linear-gradient(20deg, hsl(90, 100%,  88%), hsl(182, 100%,  88%));
    }

	.grid-domino:nth-child(5n+3) { 
        background-image: linear-gradient(20deg, hsl(162, 100%,  88%), hsl(254, 100%,  88%)); 		
    }

	.grid-domino:nth-child(5n+4) { 
        background-image: linear-gradient(20deg, hsl(234, 100%,  88%), hsl(326, 100%,  88%));
    }

	.grid-domino:nth-child(5n+5) {    
        background-image: linear-gradient(20deg, hsl(306, 100%,  88%), hsl(018, 100%,  88%));
	}
	
/* added to alternate color     */
hr.red1 {
  border-top: 1px solid red;
}

/* Dashed red border */
hr.red2dash {
  border-top: 2px dashed red;
}

/* Large rounded green border */
hr.green3r {
  border: 6px solid green;
  border-radius: 3px;
}

/* Large rounded red border */
hr.red3r {
  border: 6px solid red;
  border-radius: 3px;
}
/* Dotted border */
hr.wide70 {
  border-top: 1px solid #bbb;
  width: 70%;
}
hr.yr {
border: 1px solid #888;
width: 60%;	
-moz-transform: rotate(0.7deg);
-webkit-transform: rotate(0.7deg);
-o-transform: rotate(0.7deg);
-ms-transform: rotate(0.7deg);
transform: rotate(0.7deg);
} 

sup.footnote {
 /*   vertical-align: super;
    font-size: larger; */
	color: hsla(251, 79%, 50%, 0.6);
	background-color: hsla(290, 64%, 80%, 0.4);
}
  ;
img.sp {
   padding-inline: 12px; /* adds 12 pixels of space around the image. */
   border: 1px solid #000;
   Border-radius: 4px
}
img.ndx {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 1px;
  margin-left: 1px;
  border-style: solid;
  border-width: 0px;
   padding-inline: 1px; /* adds 1 pixels of space around the image. */
    border: 0px solid #000;
    Border-radius: 4px
}
.trans {
  background-color: transparent;}

/


