@charset "utf-8";  /*"US-ASCII";*/
/* ANIMATABLE PROPERTIES:  https://www.w3schools.com/cssref/css_animatable.php  */

h1 {
  font-size: 2.5em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
}

mark {
    padding: 0.2em;
    border-radius: 0.2em;
    font-weight: bold;
	outline-style: dotted;
	outline-width: thin;
	background-color: hsl(0, 100%,  100%);
    color:  hsl(0, 0%, 0%);
}

.cursive {
  font-family:cursive;
  font-size: 0.9em;
}
p {
  font-size: 1.5em;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: start;
  /*height: 200px;  */
  border: 0px solid green;
  margin:auto;
}
.containpad {
  display: grid;
  gap: 90px 100px;
  font-size: 1.8em;
  border: 2px dotted Grey;
  border-radius: 1em;
  background-color: transparent;
  padding: 10em;
  margin: 3em 1em 3em 1em;
    color: Grey
}

.containpad-nb {
  display: grid;
  gap: 90px 100px;
  font-size: 1.5em;

  background-color: transparent;
  padding: 3em 10em 3em 10em;
  margin: 3em 1em 3em 1em;
    color: white;
}

.picjarancestor {
  break-inside: avoid;
  display: grid;
  gap: 10px 9px;
  text-align: center; 
  background-color: transparent;
  padding: 2em;
  margin: 1em;
    color: black;
}
/*
.contain1 {
  display: grid;
  gap: 90px 100px;
  grid-template-columns: auto;
  background-color: transparent;
  padding: 10px;
    color: white;
}

.contain1 > div {
  background-color: transparent;
  border: 0px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.contain2 {
  display: grid;
  gap: 90px 100px;
  grid-template-columns: auto auto;
  background-color: transparent;
  padding: 10px;
  color: white;
}

.contain2 > div {
  background-color: transparent;
  border: 0px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
*/
#gradmorning {
  height: 100vh;
        z-index: 0;
  background-color: LemonChiffon; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, 
  hsl(214, 100%, 50%), 
  hsl(61, 100%, 50%),
  hsl(214, 100%, 50%))
}   

#gradmorning2 {
  height: 100%;
        z-index: 0;
  background-color: LemonChiffon; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, hsl(214, 100%, 60%), 
  hsl(61, 100%, 70%),
  hsl(214, 100%, 60%));
} 
#blue-pink-blue {
  height: 100vh;
  background-color: SkyBlue; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom,
  hsl(210, 50%, 50%),
  hsl(5, 50%, 90%),
  hsl(40, 50%, 90%),  
  hsl(210, 50%, 50%));
}
#gradhotday {
  height: 100vh;
  background-color: LemonChiffon; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, hsl(214, 100%, 95%), 
  hsl(8, 50%, 70%),
  hsl(214, 100%, 95%)); 
}


#padcenter {
 padding-right: 10%;
 padding-left: 10%; 
}

div.sticky {
  position: sticky;
  top: 0;
    z-index: 2;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0px;
}

.pagination li a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
    background-color: hsl(59, 74%, 85%, 0.75);  
  border: 2px solid gray;
  color: black;  
  margin: 0 4px;
  border-radius: 5px;
}

.pagination li a.active {
  background-color: #4CAF50;
  color: white;
  }
  .newspaper {
  column-count: 3;
  column-width: 20em;
  column-gap: 1em;
  column-rule: 1px solid lightblue;
  background-color:  transparent; 
  /*  hsl(240, 100%,  98%);  */
  word-break: break-word;
  padding: 1em;
   orphans: 3;
   widows: 2;
}
.picture {
  break-inside: avoid;
 padding: 2em; 
  margin-bottom: 1em;
}
h2 {
  column-span: all;
}
p::first-letter {
  font-size: 120%;
  font-weight: bold;
  color: hsl(230, 40%,  40%);
}
 
figure {
  position: relative;
 /*  width: clamp(0px, 30%, calc(100% - 500px));
  height: clamp(0px, 40%, calc(100% - 400px)); */
  
  width: 40%;
  height: 50%;  
  background-color: transparent;
  z-index: 1;
}
#grad-sun {
 display: flex;
  justify-content: flex-start;
  align-items: center;
height: 200px;
width: 100px;
 padding-right: 10%;
  border: 3px solid red;
  margin:0;
  border-radius: 100%;
  background-image: radial-gradient(
    circle at 50% 50%,
    #77ff00,
    #f8dd00,
    #ffb000,     /* #ffb000, */
    #ff841d,
    #ff72b9,
    #ff81ff,     /* #ff81ff, */
    #fd9eff,
    #93c2ff,
    #00e7ff,
    #00ffff,
    #00ffc3,
    #4dff00
  );
 filter: drop-shadow(0px 5px 20px #ff81ff) blur(20px) saturate(1.2); 
}

#grad-sun0 {
 display: flex;
  justify-content: flex-start;
  align-items: center;
height: 150px;
width: 100px;
 padding-right: 10%;
  border: 3px solid red;
  margin:0;
  border-radius: 100%;
  background-image: radial-gradient(
    circle at 50% 50%,
    #77ff00,
    #f8dd00,
    #ffb000,     /* #ffb000, */
    #ff841d,
    #ff72b9,
    #ff81ff,     /* #ff81ff, */
    #fd9eff,
    #93c2ff,
    #00e7ff,
    #00ffff,
    #00ffc3,
    #4dff00
  );
 filter: drop-shadow(0px 5px 20px #ff81ff) blur(20px) saturate(1.2); 
}


figure figcaption {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;  /*space-between;   */
  align-items: center;
  padding: 10px;
  overflow: hidden;
  z-index: -1;
}
/* need this */
figure figcaption::before {
  position: absolute;
  inset: 0;
  width: 90%;
  height: 90%;
  filter: blur(28px);  
  border: 45px solid transparent;
  border-image: linear-gradient(
    135deg,
    #77ff00,
    #f8dd00,
    #ffb000,
    #ff841d,
    #ff72b9,
    #ff81ff,
    #fd9eff,
    #93c2ff,
    #00e7ff,
    #00ffff,
    #00ffc3,
    #4dff00
  );
  z-index: -1;
  border-image-slice: 20;
  animation: hue 2s linear infinite;
  content: "";
}

/* need this */
 
@keyframes hue {
  from {
    filter: hue-rotate(0deg) blur(18px);
  }
  to {
    filter: hue-rotate(360deg) blur(18px);
  }
}

figure figcaption p {
  position: relative;
  padding: 10px;
}

#jar-hue-loc {
  position: relative;
  animation-name: animate-hue-loc;
  animation-duration: 4s;
  animation-delay: 10s;
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;  
}

@keyframes animate-hue-loc {
  0%   {background-color:transparent;left:0px;  top:0px;}
  12%  {background-color:red;        left:20px; top:0px;}
  25%  {background-color:orange;     left:20px; top:20px;}
  38%  {background-color:yellow;     left:0px;  top:20px;}
  50% {background-color:green;       left:0px;  top:0px;}
  62%  {background-color:blue;       left:20px; top:0px;}
  75%  {background-color:indigo;     left:20px; top:20px;}
  88%  {background-color:violet;     left:0px;  top:20px;}
  100% {background-color:transparent;left:0px;  top:0px;} 
}

#jar-hue-loc-turn {
  position: relative;
  animation-name: animate-hue-loc-turn;
  animation-duration: 4s;
  animation-delay: 10s;
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;  
}

@keyframes animate-hue-loc-turn {
  0%   {background-color:transparent; left:0px;  top:0px;}
  10%  {background-color:hsla(43, 20%, 55%, 0.5); left:15px; top:0px;}
  20%  {background-color:hsla(43, 20%, 45%, 0.5); left:0px;  top:0px;}
  30%  {background-color:hsla(43, 20%, 25%, 0.6); left:15px; top:15px;}
  40%  {background-color:hsla(43, 20%, 15%, 0.7); left:0px;  top:0px;}
  50%  {background-color:hsla(43, 20%, 8%, 0.8); left:15px; top:15px;}
  60%  {transform: rotate(20deg);background-color:hsla(43, 20%, 2%, 0.5); left:0px;  top:0px;}
  70%  {background-color:hsla(43, 20%, 0%, 0.5); left:15px; top:15px;}
  80%  {background-color:hsla(43, 20%, 45%, 0.5); left:0px;  top:0px;} 
  90%  {background-color:hsla(43, 20%, 85%, 0.5); left:0px;  top:15px;}
  100% {background-color:transparent; left:0px;  top:0px;}
}

#jar-hue-loc-skew {
  position: relative;
  animation-name: hue-loc-skew;
  animation-duration: 4s;
  animation-delay: 10s;
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;  
}

@keyframes hue-loc-skew {
  0%   {background-color:transparent;left:0px;  top:0px;}
  12%  {background-color:red;        left:20px; top:0px;}
  25%  {transform: skewY(10deg);background-color:orange;     left:20px; top:20px;}
  38%  {transform: skewY(20deg);background-color:yellow;     left:0px;  top:20px;}
  50%  {transform: skewY(30deg);background-color:green;       left:0px;  top:0px;}
  62%  {transform: skewX(20deg);background-color:blue;       left:20px; top:0px;}
  75%  {transform: skewX(10deg);background-color:indigo;     left:20px; top:20px;}
  88%  {transform: skewX(5deg);background-color:violet;     left:0px;  top:20px;}
  100% {background-color:transparent;left:0px;  top:0px;} 
}




  